.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #purple !important;
}


.Location{
    background-image: url("ny.dms");
    background-size: 100% 100%; 
 background-position: top center; 
 max-width:100%;
 max-height:1000px;
    
}

label{
    color: white;
}

h1{
    color:white;
}


.footer{
    background-color:pink;
}

.footer h6{
    color:black;
}

.footer p{
    color:black;
}