.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
    
.pricing{
    background-color:purple;
}




.footer{
    background-color:pink;
}

.footer h6{
    color:black;
}

.footer p{
    color:black;
}