.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
header{
  /*Sizing of the element*/
 height: 700px;
 width: 100%;
 /*Set and adjust background image*/
 background-image: url("ice.jpg");
 background-size:cover;
 max-width:100%;


 header h1 {
    text-align: center;
    
}


.pricing-ic-img {
    height: 100px;
    width: 100px;
}

img{
    Width:100px;
    height:100px;
}

nav {
 float:right;
}

nav a {
 color: #444;
}

footer {
 background-color:#222222;
 height: 250px;
 width: 100%;
 color: #fff;
 padding-top: 25px;
}

footer i{
color: #fff;
font-family: "Monserrat",sans-serif;
padding: 15px;
}

