.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
header{
  /*Sizing of the element*/
 height: 700px;
 width: 100%;
 /*Set and adjust background image*/
 background-image: url(1.jpg);
 background-size: 100% 100%; 
 background-position: top center; 
 max-width:100%;
 max-height:1000px;
background-color:pink;
}
.about{
    background-color:transparent;
}

.services{
background-image:url(3.jpg);
background-size:cover;

}
.trust{
    background-image:url(3.jpg);
    background-size:cover;
     background-color:;
}

/*.about div{*/
/*    background-color: pink;*/
/*    background-image: */
/*}*/

/*.body{*/
/*  background-color: pink;*/
/*}*/

/*.footer{*/
/*    background-color:pink;*/
/*}*/


.footer{
    background-color:pink;
}
.footer h6{
    color:black;
}

.footer p{
    color:black;
}

.services i{
     height:80px;
     width:80px;
     color:white;
     background:blue;
     padding: 25px 20px;
     font-size:30px;
     border-radius:50%;
     text-align: center; 
}
.trust{
    background-color
}



