.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
header{
  /*Sizing of the element*/
 height: 700px;
 width: 100%;
 /*Set and adjust background image*/
 background-image: url("ice.jpg");
 background-size:cover;
color:indigo;

 header h1 {
    text-align: center;
    
}

 .pricing img {
     height:50px;
     width:50%;
}
    